<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
    <label>Airline:
      <input type="text" name="Airline">
    </label><br>
    <label>Airport:
        <select name="Airport">
            <option value="SFO">SFO</option>
            <option value="OAK">OAK</option>
            <option value="LAX">LAX</option>
            <option value="HNL">HNL</option>
          </select>
    </label><br>
    <label>FlightNo:
        <input type="number" name="FlightNo">
      </label><br>
    <label>departs:
      <input type="datetime-local" name="Departs">
    </label><br>
  </form>
<%- include('../partials/footer') %>